.Header {
    width: 100%; /* Занимает всю ширину экрана */
    display: flex;
    justify-content: center;
    
    
}
.HeaderWidth{
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content:space-between; /* Центрируем содержимое */
    position: fixed; /* Фиксируем заголовок */
    top: 0; /* Устанавливаем его в верхней части экрана */
    z-index: 1000; /* Устанавливаем высокий z-index, чтобы заголовок был поверх других элементов */
    background-color: white; /* Фон заголовка, чтобы он не сливался с содержимым */
}

  
.RightContainer {
    display: flex; 
    align-items: center; 
}