.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .galleryGoriz{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
}

.navButton {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
    &:active{
        color: #FF6F61;
    }
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease; /* Плавное перелистывание */
}

.currentImage {
    max-width: 100%;
    border-radius: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;

    &.active {
        background-color: #FF6F61; /* Цвет активной точки */
    }
}