$width: 768px;
.Home{
    max-width: $width;
    margin: 0 auto;
    .Container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 200px;
            margin-top: 100px;
            position: relative;
        .Social{
            display: flex;
            flex-direction: column;
            width: 50px;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -90px;
            top: 20px;
            .SocialImg, .LeetCode img {
                width: 30px;
                margin: 15px;
                opacity: 80%;
                &:hover{
                    opacity: 100%;
                }
            }
        }
        .Description {
            margin: 0 auto;
            align-content: center;
            max-width: $width/2;
            padding-left: 10px;
            padding-right: 30px;
            .HeadingTop{
                font-size: 48px;
                font-weight: 600;
                line-height: 50px;
                margin: 20px 0px;
            }
            .HeadingBott{
                margin-bottom: 10px;
                font-size: 20px;
                
            }
            .DescriptionText{    
                margin-bottom: 10px;
                text-align: justify;
            }
        }
        .ImageMy{
            max-width: $width/2;
            margin: 0 auto;
            padding-right: 10px;
            text-align: center;
            align-content: center;
                img{
                    border-radius: 10px;
                }
        }
    }
}

@media (max-width: 768px){
    .Home{
        margin-bottom: 30px;
        margin-top: 20px;
        .Container{
            flex-direction: column;
            margin-bottom: 30px;
            margin-top: 20px;
            justify-content: flex-start;
            .Description .HeadingTop{
                font-size: 38px;
                font-weight: 500;
                text-align: center;
            }
            .HeadingBott{
                text-align: center;
            }
        }
    }

}

@media (max-width: 480px){
    
}