$width: 768px;
.Home{
    width: $width;
    margin-bottom: 200px;
    margin-top: 100px;


    margin: 0 auto;
    .Container{
            display: flex;
            justify-content: space-between;
            margin-bottom: 200px;
            margin-top: 100px;
        .Social{
            display: flex;
            flex-direction: column;
            width: 50px;
            align-content: center;
            justify-content: center;
            align-items: center;
            transform: translateX(-89px);
            position: absolute;
            margin-bottom: 200px;
            margin-top: 100px;
            .SocialImg, .LeetCode img {
                width: 30px;
                margin: 15px;
                opacity: 80%;
                &:hover{
                    opacity: 100%;
                }
            }
        }
        .Description {
            margin: 0 auto;
            align-content: center;
            width: $width/2;
            .HeadingTop{
                font-size: 48px;
                font-weight: 600;
                line-height: 50px;
                margin: 20px 0px;
            }
            .HeadingBott{
                margin-bottom: 10px;
                font-size: 20px;
                
            }
            .DescriptionText{    
                margin-bottom: 10px;
            }
        }
        .ImageMy{
            width: $width/2;
            margin: 0 auto;
            text-align: center;
            align-content: center;
                img{
                    border-radius: 10px;
                }
        }
    }
}


