.Footer{
    background-color: #FF6F61;
    height: 120px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;


    .FooterBlock{
        width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        .ContactBlock{
            width: 200px;
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
            .SocialImg, .SocialImg img{
                color: white;
                &:hover{
                    color: #43434d;
                }
            }
        }
        
    }
    
       
}

